*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

ul{
    display: flex;
    gap: 20px;
}

.cards{
    width: 250px;
    position: relative;
    height: 250px;
    box-shadow: 0 0 7px rgb(243, 205, 205);
    border-radius: 10px;
}
.cards img{
    width: 100%;
    border-radius: 10px;
}
.cardBottom{
    width: 100%;
    opacity: 0;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    position: absolute;
    top: 0;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.658);
}
.cardBottom:hover{
    opacity: 1;
}
h3{
    width: 100px;
    height: 30px;
    text-align: center;
    border: 1px solid white;
}
.title{
    border: 1px solid red;
    text-align: center;
    border-radius: 10px;
}